#grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chart-container {
    width: 800px; /* Defina um tamanho fixo para o contêiner do gráfico */
    height: 400px; /* Defina um tamanho fixo para o contêiner do gráfico */
}
